:root{
    /* scrollbar */
    --scrollbar-track-color: #171717;
    --scrollbar-thumb-color: #3f979f;
    --scrollbar-thumb-color--hover: #00646c;
    /* nuxt content */
    --link-color: #3f979f;
    --divider-color: #b7b7b7;
    --copy-btn__bg-color--hover: #424242;
    --copy-btn__bg-color: #171717;
    --table__border-color: #aeaeae;
    --table__bg-color--hover: #2c2c2c;
    --table__bg-color--header: #004c53;
    /* layout */
    --layout__border-color: #8f96a3;
    /* page content */
    --toc-color: #c1c1c1;
    --toc-color--active: var(--link-color);
    /* notice */
    --note-header-bg-color: #ffc107;
    --note-bg-color: #855a00;
    --warning-header-bg-color: #b64c4c;
    --warning-bg-color: #450000;
    --info-header-bg-color: #006193;
    --info-bg-color: #003360;
    /* content tree */
    --content-tree__link: #8b8b8b;
    --content-tree__link--hover: #c1c1c1;
    --content-tree__link--main: #a6a6a6;
    --content-tree__link--active: var(--link-color);
    --content-tree__link-bg--active: #2c2c2c;
    /* search */
    --search__btn-bg-color: #00646c;
    --search__btn-border-color: #5293c9;
    --search__text-color: #8b8b8b;
    --search__btn-bg-color--hover:#282828; 
}
