*.log
.cache
.DS_Store
src/.temp
node_modules
dist
.env
.env.*
.idea
temp
content/docs/common/test.md
.nuxt
.graphqlconfig
schema.graphql
/static/sitemap.dev.json
/cypress/downloads
/cypress/screenshots
/cypress/videos
/cypress/results
