---
title: verification
---

The act of comparing the actual to the expected. 
