:root{
    /* scrollbar */
    --scrollbar-track-color: #e0e0e0;
    --scrollbar-thumb-color: #3f979f;
    --scrollbar-thumb-color--hover: #00646c;
    /* nuxt content */
    --link-color: #3f979f;
    --divider-color: var(--layout__border-color);
    --copy-btn__bg-color--hover: #424242;
    --copy-btn__bg-color: #171717;
    --table__border-color: #616161;
    --table__bg-color--hover: #c1c1c1;
    --table__bg-color--header: #5cb2ba;
    /* layout */
    --layout__border-color: #e3e3e3;
    /* page content */
    --toc-color: #424242;
    --toc-color--active: var(--link-color);
    /* notice */
    --note-header-bg-color: #ffc107;
    --note-bg-color: #ffffae;
    --warning-header-bg-color: #b64c4c;
    --warning-bg-color: #ffd4cd;
    --info-header-bg-color: #006193;
    --info-bg-color: #e4ffff;
    /* content tree */
    --content-tree__link: #575757;
    --content-tree__link--hover: #424242;
    --content-tree__link--main: #424242;
    --content-tree__link--active: var(--link-color);
    --content-tree__link-bg--active: #dedede;
    /* search */
    --search__btn-bg-color: #4b5465;
    --search__btn-border-color: #5293c9;
    --search__text-color: #8b8b8b;
}
