.nuxt-content {

  img{
    max-width: 100%;
    background-color: white;
    border-radius: 2px;
  }

  ul, ol{
    margin-bottom: 16px;
  }

  table, td {
    border: 1px solid;
  }

  table{
    margin: 2rem 0;
    border-collapse: collapse;
    max-width: 100vw;
    padding: 0 1px;
    overflow-x: auto;

    th, td{
      padding: .5em 1em;
    }
  }

  & h1{
    font-size: 2.2rem;
  }

  & h2{
    margin-top: 3rem;
    margin-bottom: 1rem;
    font-size: 1.8rem;

    &::after{
      content: " ";
      display: block;
      width: 100%;
      visibility: visible;
      border-bottom: solid 1px var(--divider-color);
    }
  }

  & h3{
    margin-top: 2rem;
    margin-bottom: 0.7rem;
  }

  & h4, h5, h6{
    margin-top: 1.5rem;
    margin-bottom: 0.6rem;
  }

  & h2, & h3 {

    /* Fix anchor scrollTo */
    &::before {
      display: block;
      content: " ";
      margin-top: -85px;
      height: 85px;
      visibility: hidden;
      pointer-events: none;
    }

    /* Style anchor links on headings added by @nuxt/content */
    & > a {
      margin-left: 1.5rem;
      text-decoration: none;

      &::before {
        content: "#";
        font-size: 1rem;
        color: var(--link-color);
        opacity: 100%;
        margin-left: -1.5em;
        padding-right: .75em;
        transition: opacity .1s ease-in-out;
      }

      @media screen and (min-width: 1024px){
        margin-left: 0;

        &::before {
          opacity: 0;
        }
      }
    }
    &:hover {
      & > a::before {
        opacity: 100%;
      }
    }
  }

  & .nuxt-content-highlight {
    position: relative;

    pre{
      border-radius: 5px;
    }


    /* Style filename span added by @nuxt/content */
    & > .filename {
      position: absolute;
      right: 0;
      top: 0;
      z-index: 10;
      font-family: monospace;
      margin-right: 1rem;
      margin-top: .75rem;
      color: white;
    }

    /* Add top padding to code blocks with filename */
    & > .filename + pre[class*="language-"] {
      padding-top: 2rem;
    }

    /* Style copy button added in `pages/_.vue` */
    & > .copy {
      opacity: 0;
      position: absolute;
      right: 0;
      bottom: 0;
      margin-right: .75rem;
      margin-bottom: .75rem;
      transition: opacity .1s ease-in-out;

      &:hover {
        background-color: var(--copy-btn__bg-color--hover);
      }

      &:focus {
        border: none;
      }
    }
    &:hover {
      & > .copy {
        opacity: 1;
      }
    }
  }
  //
  ///* Force style on pre elements */
  //& pre[class*="language-"] {
  //  /* Make pre static so the relative goes to the parent (.nuxt-content-highlight) */
  //  @apply bg-gray-800 static;
  //}
}

.theme--dark.v-application textarea.nuxt-content-editor{
  color: white;
}
.v-application .nuxt-content{

  table, td{
    border-color: var(--table__border-color);
  }

  table tr:hover{
    background-color: var(--table__bg-color--hover);
  }

  th{
    background-color: var(--table__bg-color--header);
  }

  pre{
    code{
      background: unset;
    }
  }

  input{
    color: inherit;
  }
}

