// Ref: https://github.com/nuxt-community/vuetify-module#customvariables
//
// The variables you want to modify
// $font-size-root: 20px;
$btn-text-transform: unset !important;

$max-width: 1280px;
$max-width-md: 1024px;
$max-width-sm: 800px;
$aside-width: 18rem;
$aside-width-md: 18rem;
$window-width-md: 1270px;
$window-width-sm: 1024px;
$window-width-xsm: 600px;
